<div class="jumbotron text-center">
<h1>FIREBASE</h1>
<p> App: NotificacionesYa </p>
</div>

<div class="container">
<table class="table table-striped">
  <h3> Mensajes disponibles para Enviar a Usuarios: </h3>
  <div class="container">
  <%= link_to 'Crear nuevo mensaje', new_message_path, :class => "btn btn-primary"  %>
  <%= link_to 'Ver mensaje en Cache', '/messages/showlast', :class => "btn btn-primary"  %>
  </div>

  <thead>
    <tr>
      <th>Título</th>
      <th>Cuerpo</th>
      <th>Multimedia</th>
      <th>Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.title  %></td>
        <td><%= message.body %></td>
        <td><%= message.multimedia %></td>
        <td><%= message.links %></td>
          <td><%= link_to 'Mostrar', message, :class => "btn btn-primary" %></td>
          <td><%= link_to 'Eliminar', message, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
          <td><%= link_to 'Enviar a todos los Usuarios de la App', '#', :class => "btn btn-primary" %></td>
          <td><%= link_to 'Enviar a solo a Usuarios Móvil', '#', :class => "btn btn-primary" %></td>
          <td><%= link_to 'Enviar a solo a Usuarios Web', '#', :class => "btn btn-primary" %></td>
          <td><%= link_to 'Enviar a solo a Usuarios SMS', '#', :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

