<div class='container'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Multimedia:</strong>
  <%= @message.multimedia %>
</p>

<p>
  <strong>Links:</strong>
  <%= @message.links %>
</p>

<%= link_to 'Edit', edit_message_path(@message), :class => "btn btn-primary"  %> |
<%= link_to 'Back', messages_path, :class => "btn btn-primary"  %>
</div>
