<div class='container'>
  <h2> Último mensaje creado (obtenido del Caché) </h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= 
  	Rails.cache.read('lastmessage').title
  %>
</p>

<p>
  <strong>Body:</strong>
<%= 
  	Rails.cache.read('lastmessage').body
  %></p>

<p>
  <strong>Multimedia:</strong>
<%= 
  	Rails.cache.read('lastmessage').multimedia
  %></p>

<p>
  <strong>Links:</strong>
	<%= 
  	Rails.cache.read('lastmessage').links
  	%>
</p>

<%= link_to 'Back', '/messages', :class => "btn btn-primary"  %>
</div>
